.container {
  position: relative;
  background-color: var(--primary-color);
  /* min-height: 500px; */
  border-radius: 20px;
  border-top-left-radius: 225px;
  border-top-right-radius: 225px;
  box-shadow: 25px 25px 75px var(--black-color-2),
    inset 5px 5px 10px var(--black-color-3),
    inset 5px 5px 20px var(--black-color-1),
    inset -5px -5px 15px var(--black-color-4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  position: relative;
  width: 450px;
  height: 450px;
  background-color: var(--primary-color);
  border-radius: 50%;
  box-shadow: 10px 50px 70px var(--black-color-2),
    inset 5px 5px 10px var(--black-color-3),
    inset 5px 5px 20px var(--black-color-1),
    inset -5px -5px 15px var(--black-color-4);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.clock::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--primary-color);
  border: 3px solid var(--white-color);
  border-radius: 50%;
}