:root {
  --primary-color: #2f363e;
  --white-color: #fff;
  --black-color-1: rgba(0, 0, 0, 0.2);
  --black-color-2: rgba(0, 0, 0, 0.25);
  --black-color-3: rgba(0, 0, 0, 0.5);
  --black-color-4: rgba(0, 0, 0, 0.75);
  --red-color: #f00;
  --circle1-color: #04fc43;
  --circle2-color: #fee800;
  --circle3-color: #ff2972;
}